* {
  user-select: none;
  transition: ease all 0.2s;
}

img {
  position: absolute;
}

.top:hover {
  transform: translateY(-30px);
}

.down:hover {
  transform: translateY(30px);
}

.left:hover {
  transform: translateX(-30px);
}

.right:hover {
  transform: translateX(30px);
}
