* {
  user-select: none;
  transition: ease all 0.2s;
}

img {
  width: 100%;
  height: 100%;
}

.hover-top:hover {
  transform: translateY(-30px);
}

.hover-down:hover {
  transform: translateY(30px);
}

.hover-left:hover {
  transform: translateX(-30px);
}

.hover-right:hover {
  transform: translateX(30px);
}
