.player-one {
    top: 75%;
}

.player-two {
    top: 5%;
}

.player-three {
    top: 30%;
    left: 5%;
}

.player-four {
    top: 30%;
    left: 90%;
}

.player {
    pointer-events: none;
    height: 7.5rem;
    position: absolute;
    width: 4rem;
}
