<ion-header>
  <ion-toolbar>
    <ion-title>
      Santase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="deck">
    <app-deck [left]="viewWidth * 0.45" [top]="viewHeight * 0.40"></app-deck>
  </div>

  <div class="player">
    <app-hand
      [layout]="'horizontal'"
      [hover]="'top'"
      [visible]="true"
      [leftOffset]="viewWidth * 0.45"
      [topOffset]="viewHeight * 0.8"
    ></app-hand>
  </div>

  <div class="player">
    <app-hand
      [layout]="'horizontal'"
      [hover]="'top'"
      [visible]="true"
      [leftOffset]="viewWidth * 0.45"
      [topOffset]="viewHeight * 0.01"
    ></app-hand>
  </div>

  <div class="player">
    <app-hand
      [layout]="'vertical'"
      [hover]="'top'"
      [visible]="true"
      [leftOffset]="viewWidth * 0.8"
      [topOffset]="viewHeight * 0.4"
    ></app-hand>
  </div>

  <div class="player">
    <app-hand
      [layout]="'vertical'"
      [hover]="'top'"
      [visible]="true"
      [leftOffset]="viewWidth * 0.1"
      [topOffset]="viewHeight * 0.4"
    ></app-hand>
  </div>
</ion-content>
