.playing-card {
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 5rem;
    left: 40%;
    top: 70%;
}

.one {
    left: 43%;
}

.two {
    left: 46%;
}

.three {
    left: 49%;
}