<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div
        class="player player-one"
        *ngFor="let card of cards; let i = index"
        [style.left]="playerLeftOffset + i * 3 + '%'"
      >
        <app-card
          [xOffset]="xPercent"
          [yOffset]="yPercent"
          [hoverStyle]="'hover-top'"
        ></app-card>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="player player-two"
        *ngFor="let card of cards; let i = index"
        [style.left]="centralOffset + i * cardSpacingFactor + '%'"
      >
        <app-card
          [xOffset]="xPercent"
          [yOffset]="yPercent"
          [hoverStyle]="'none'"
          [angle]="i * angleOffset"
        ></app-card>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="player player-three"
        *ngFor="let card of cards; let i = index"
        [style.top]="sideOffset + i * cardSpacingFactor + '%'"
      >
        <app-card
          [xOffset]="xPercent"
          [yOffset]="yPercent"
          [hoverStyle]="'none'"
          [angle]="i * angleOffset"
        ></app-card>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div
          class="player player-four"
          *ngFor="let card of cards; let i = index"
          [style.top]="sideOffset + i * cardSpacingFactor + '%'"
        >
          <app-card
            [xOffset]="xPercent"
            [yOffset]="yPercent"
            [hoverStyle]="'none'"
            [angle]="i * angleOffset"
          ></app-card>
        </div>
      </div>
    </div>
</ion-content>
