<ion-header>
  <ion-toolbar>
    <ion-title>
      Santase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="deck">
        <app-deck></app-deck>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="player player-one">
        <app-hand
          [cards]="cards"
          [layout]="'horizontal'"
          [hover]="'top'"
          [visible]="true"
        ></app-hand>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="player player-two">
        <app-hand
          [cards]="cards"
          [layout]="'horizontal'"
          [spacing]="5"
          [angleSpacing]="2"
          [visible]="false"
        ></app-hand>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="player player-three">
        <app-hand
          [cards]="cards"
          [layout]="'vertical'"
          [spacing]="5"
          [angleSpacing]="2"
          [visible]="false"
        ></app-hand>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="player player-four">
        <app-hand
          [cards]="cards"
          [layout]="'vertical'"
          [spacing]="5"
          [angleSpacing]="2"
          [visible]="false"
        ></app-hand>
      </div>
    </div>
  </div>
</ion-content>
